.book-visit {
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    background-color: #2a2929;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #ffffff;
}

.book-visit input,
.book-visit button[type="submit"],
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #454242;
    color: #ffffff;
}

::placeholder {
    color: #bdbdbd;
}

.book-visit button:hover {
    background-color: #080808;
}

.book-visit input:disabled, .book-visit select:disabled {
    color: #000000;
    border: 1px solid #000000;
}