{% extends 'dashboard.html' %}

{% block page_css %}
<link rel="stylesheet" href="/static/css/add_news.css">
{% endblock %}

{% block content %}

    
    <form method="post" action="/dashboard/add/news">

        <h1>Add News</h1>

        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="Enter news title" required><br>

        <label for="description">Description:</label>
        <textarea name="description" placeholder="Enter news description" rows="5" required></textarea><br>

        <label for="image">Image:</label>
        <input type="text" name="image" placeholder="Enter image's path" required><br>

        <label for="category">Category:</label>
        <select name="category" required>
            <option value="" disabled selected>Not selected</option>
            <option value="update">Update</option>
            <option value="event">Event</option>
            <option value="exhibit">Exhibit</option>
            <option value="item">Item</option>
        </select><br>

        <label for="link">Link:</label>
        <input type="text" name="link" placeholder="Enter promotion link"><br>

        <label for="features">Features:</label>
        <input type="text" name="features" placeholder="Enter news features"><br><br>

        <button type="submit">Post News</button>
        
    </form>

{% endblock %}