{% extends 'base.html' %}

{% block title %}Exhibits{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="/static/css/exhibits.css">
{% endblock %}

{% block content %}
<div class="container">

    <div class="exhibits-container">

        <div class="exhibits-header">
            <h1>Our Collection</h1>
            <div class="search-bar">
                <input type="text" placeholder="Search...">
                <button class="search-button"><img src="/static/images/icons/magnifier.png"></button>
            </div>
        </div>
    
        <main class="grid-container">

            {% if exhibits %}

                {% for exhibit in exhibits %}

                    {% if exhibit.is_listed %}

                        <div class="exhibit-card">
                            <img src="{{ exhibit.image }}" class="exhibit-image">
                            <div class="exhibit-content">
                                <h2 class="exhibit-title">{{ exhibit.title }}</h2>
                                <p class="exhibit-description">{{ exhibit.description }}</p>
                                <h3 class="narrative-title">Exhibit Narrative:</h3>
                                <p class="narrative-text">{{ exhibit.narrative }}</p>
                            </div>
                        </div>

                    {% endif %}

                {% endfor %}

            {% else %}
                <div class="alert alert-info">
                    No exhibits available at the moment.
                </div>
            {% endif %}
    
        </main>
    
        <div class="pagination">
            <button class="page-number active">1</button>
            <button class="page-number">2</button>
            <button class="page-number">3</button>
            <span class="page-dots">...</span>
            <button class="page-next"><img src="/static/images/icons/next page.png"></button>
            <button class="page-last"><img src="/static/images/icons/last page.png"></button>
        </div>

    </div>
    
</div>
{% endblock %}