{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block content %}
<div class="container">

  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">

        <img src="/static/images/overview/slide 1.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="/static/images/overview/slide 2.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="/static/images/overview/slide 3.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="/static/images/overview/slide 4.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="/static/images/overview/slide 5.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="/static/images/overview/slide 6.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="/static/images/overview/slide 7.jpg" class="d-block w-100">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div id="carouselExampleIndicators2" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="6" aria-label="Slide 7"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">

        <img src="/static/images/items/slide 1.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="/static/images/items/slide 2.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="/static/images/items/slide 3.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="/static/images/items/slide 4.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="/static/images/items/slide 5.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="/static/images/items/slide 6.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="/static/images/items/slide 7.jpg" class="d-block w-100">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container text-center my-5">
    <h2 class="text-white">Upcoming Events</h2>

    <div class="row g-4 mt-4">
        {% if events %}
            {% for event in events %}
                {% if event.is_listed %}
                    <div class="col-lg-4 col-md-6">
                      <div class="card">
                          <img src="{{ event.image }}" class="card-img-top" alt="{{ event.title }}">
                          <div class="card-body">
                              <div class="d-flex justify-content-between align-items-center mb-3">
                                  <span class="d-flex align-items-center">
                                      <img src="/static/images/icons/calendar.png" class="calendar"> 
                                      <small>{{ event.date.strftime('%d %B %Y') }}</small>
                                  </span>
                                  <span class="badge rounded-circle text-white p-2">
                                      <img id="ticket" src="/static/images/icons/ticket.png" class="ticket">
                                      <div id="price"> {{ event.price }}{% if event.price != 'Free' %}€{% endif %}</div>
                                  </span>
                              </div>
                              <h5 class="card-title">{{ event.title }}</h5>
                              <p class="card-text">{{ event.description }}</p>
                              <a href="/profile/book/visit" class="btn btn-dark w-100 d-flex justify-content-between align-items-center">
                                  Book now
                                  <span class="badge2 rounded-circle p-2">
                                      <img src="/static/images/icons/button-arrow.png" class="button-arrow">
                                  </span>
                              </a>
                          </div>
                      </div>
                  </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="col-12">
                <div class="alert alert-info">
                    No upcoming events scheduled at this time. Please check back later!
                </div>
            </div>
        {% endif %}
    </div>
</div>

</div>

{% endblock %}