<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="static/css/login.css">
</head>
<body>

    <a href="/">
        <img src="/static/images/icons/museum logo.png" class="museum-logo">
    </a>

    <div class="login-container">
        <h1 class="login-title">Log in</h1>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="email">Your Email Address:</label>
                <input type="email" name="email" id="email" required>
            </div>
            
            <div class="form-group">
                <label for="password">Your Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            
            <button type="submit" class="sign-in-btn">SIGN IN</button>
            
            <div class="forgot-password">
                <a href="#">Forgot your password?</a>
            </div>
            
            <div class="new-user">
                New User?<a href="/register">Create an account</a>
            </div>
        </form>
    </div>

    <footer class="footer">
        <a href="#">Terms</a>
        <a href="#">Privacy</a>
        <a href="#">Manage Cookies</a>
        <a href="#">Do not share my personal information</a>
        <a href="#">Accessibility</a>
    </footer>
</body>
</html>