{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="/static/css/profile.css">
<script src="/static/js/scripts.js"></script>
{% endblock %}

{% block content %}
<div class="container profile-main">
    <div class="profile-container">

        <div class="sidebar">

            <div class="user-info">
                <div class="profile-image">
                    <img src="/static/images/icons/empty profile.png">
                    <div class="edit-overlay">
                        <span>Edit</span>
                    </div>
                </div>
                <h3 class="user-name">{{ current_user.first_name}} {{ current_user.last_name}}</h3>
                <p class="user-email">{{ current_user.email }}</p>
            </div>
            
            <nav class="profile-nav">
                <a href="/profile/overview" class="active">
                    <img src="/static/images/icons/user.png">
                    Profile Overview
                </a>
                <a href="/profile/tickets">
                    <img src="/static/images/icons/ticket.png">
                    My Tickets
                </a>
                <a href="/profile/book/visit">
                    <img src="/static/images/icons/calendar.png">
                    Book Visit
                </a>
                <a href="/profile/history">
                    <img src="/static/images/icons/history.png">
                    Visit History
                </a>
                <a href="/profile/add/feedback">
                    <img src="/static/images/icons/feedback.png">
                    Give Feedback
                </a>
                <a href="/profile/settings">
                    <img src="/static/images/icons/settings.png">
                    Settings
                </a>
                <a href="/logout" class="logout">
                    <img src="/static/images/icons/logout.png">
                    Logout
                </a>
            </nav>

        </div>

        <div class="content-area">
            
            <div class="profile-header">
                <h1>{% block section %}{% endblock %}</h1>
                <button class="btn btn-edit" onclick="window.location.href='/profile/edit'">Edit Profile</button>
            </div>

            {% block option %}{% endblock %}
            
        </div>
    </div>
</div>
{% endblock %}