{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="/static/css/profile.css">
{% endblock %}

{% block content %}
<div class="container">

    <div class="profile-container">

        <div class="sidebar">
            <h1>Profile Page</h1>
            <a href="/profile/reservation">Book visit</a>
            <a href="/profile/feedback">Give us feedback</a>
    
            
            <a href="/logout">Logout</a>
        </div>

    </div>

</div>
{% endblock %}